<h2>My PQRs</h2>

<p-dataTable #dt [value]="pqrs" exportFilename="pqrs" [responsive]="true">
    <p-header>
        PQRS
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
        </div>
    </p-header>
    <p-column field="accountId" header="Account Id" ></p-column>
    <p-column field="account" header="Account" ></p-column>
    <p-column field="uneEstadoSIC" header="Estado Sic" ></p-column>
</p-dataTable>
