<h2>Mis Comportamientos</h2>

<p-dataTable #dt [value]="behaviours" exportFilename="behaviours" [responsive]="true">
  <p-column field="code" [style]="{'width': '230px'}" header="Código" [filter]="true" filterPlaceholder="Buscar" filterMatchMode="contains"></p-column>
  <p-column field="scenario" header="Scenario" [filter]="true" filterPlaceholder="Buscar" filterMatchMode="contains">
    <ng-template let-data="rowData" pTemplate="body">
      <a routerLink="/behaviour/{{data.code}}" routerLinkActive="active">{{data.scenario}}</a>
    </ng-template>

  </p-column>
  <p-column field="color" [style]="{'width': '80px'}" header="Color" [filter]="true" filterMatchMode="in">
    <ng-template pTemplate="filter" let-col>
      <p-multiSelect [options]="colors" defaultLabel="All" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
    </ng-template>
    <ng-template let-data="rowData" pTemplate="body">
      <div [ngStyle]="{'background-color': changeColor(data.color)}">
        <div style="width:100%;height:36px"></div>
      </div>
    </ng-template>
  </p-column>
  <p-column field="emotion" [style]="{'width': '80px'}" header="Emoción" [filter]="true" filterMatchMode="in">
    <ng-template pTemplate="filter" let-col>
      <p-multiSelect [options]="emotions" defaultLabel="All" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
    </ng-template>

    <ng-template let-data="rowData" pTemplate="body">

      <div *ngIf="data.emotion === 'HPPY'" style="text-align:center">
        <img src="assets/happy.png" />
      </div>
      <div *ngIf="data.emotion === 'TM'" style="text-align:center">
        <img src="assets/time.png" />
      </div>
      <div *ngIf="data.emotion === 'UN'" style="text-align:center">
        <img src="assets/unexpected.png" />
      </div>
      <div *ngIf="data.emotion === 'SD'" style="text-align:center">
        <img src="assets/sad.png" />
      </div>

    </ng-template>

  </p-column>
<p-footer></p-footer>
</p-dataTable>
