<div *ngIf="behaviour">
  <h2><button pButton type="button" icon="fa-arrow-left" (click)="goBack()" iconPos="left"></button><b> {{behaviour.scenario}}</b></h2>
  <table style="width:50%">

  <tr>
    <td rowspan="2" [ngStyle]="{'background-color': changeColor(behaviour.color)}" style="width:70px"></td>
    <td><div class="centered"><h3><b>Emoción</b></h3></div></td>
    <td><div class="centered"><h3><b>Status HTTP</b></h3></div></td>
    <td><div class="centered"><h3><b>Status Code</b></h3></div></td>
  </tr>
  <tr>
    <td><behaviour-emotion [emotion]="behaviour.emotion"></behaviour-emotion></td>
    <td><div class="centered">{{behaviour.statusHttp}}</div></td>
    <td><div class="centered">{{behaviour.statusCode}}</div></td>
  </tr>
</table>

<br/>


  <p><span><b>Dado que</b></span> {{behaviour.given}}</p>
  <behaviour-params [params]="behaviour.givenParams"></behaviour-params>
  <div><span><b>Cuando</b></span> {{behaviour.when}}</div>
  <behaviour-params [params]="behaviour.whenParams"></behaviour-params>
  <p><span><b>Entonces</b></span> {{behaviour.then}}</p>
  <behaviour-params [params]="behaviour.thenParams"></behaviour-params>
</div>
