.centered{
  text-align: center;
}

.color{
  background-color: green;
  width: 20px;
  height: 100%;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

tr { line-height: 5px; }
